name: Deploy interactive report website .html file as index.html

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3

      - name: Copy and rename file
        run: |
          mkdir deploy
          cp Bericht_zur_Uebersterblichkeit_in_Deutschland.html deploy/index.html

      - name: Deploy to interactive-report-website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
          publish_branch: interactive-report-website
